In [189]:
import numpy as np
import pandas as pd

In [190]:
shootings = pd.read_csv('historic_incident_with_zipcode.csv')
# Shape
shootings.shape

(21626, 20)

In [191]:
shootings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21626 entries, 0 to 21625
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCIDENT_KEY             21626 non-null  int64
 1   OCCUR_DATE               21626 non-null  object
 2   OCCUR_TIME               21626 non-null  object
 3   BORO                     21626 non-null  object
 4   PRECINCT                 21626 non-null  int64
 5   JURISDICTION_CODE        21624 non-null  float64
 6   LOCATION_DESC            9265 non-null   object
 7   STATISTICAL_MURDER_FLAG  21626 non-null  bool
 8   PERP_AGE_GROUP           14321 non-null  object
 9   PERP_SEX                 14355 non-null  object
 10  PERP_RACE                14355 non-null  object
 11  VIC_AGE_GROUP            21626 non-null  object
 12  VIC_SEX                  21626 non-null  object
 13  VIC_RACE                 21626 non-null  object
 14  X_COORD_CD               21626 non-null  int64
 15  Y_COORD_CD               21626 non-null  int64
 16  Latitude                 21626 non-null  float64
 17  Longitude                21626 non-null  float64
 18  Lon_Lat                  21626 non-null  object
 19  ZipCode                  21626 non-null  int64
dtypes: bool(1), float64(3), int64(5), object(11)
memory usage: 3.2+ MB

In [192]:
shootings.info

<bound method DataFrame.info of        INCIDENT_KEY  OCCUR_DATE OCCUR_TIME           BORO  PRECINCT  \
0         201575314  08/23/2019   22:10:00         QUEENS       103
1         205748546  11/27/2019   15:54:00          BRONX        40
2         193118596  02/02/2019   19:40:00      MANHATTAN        23
3         204192600  10/24/2019   00:52:00  STATEN ISLAND       121
4         201483468  08/22/2019   18:03:00          BRONX        46
...             ...         ...        ...            ...       ...
21621      25170411  11/05/2006    4:50:00      MANHATTAN        28
21622     191681185  12/28/2018   21:52:00          BRONX        40
21623      63381856  07/04/2009   16:00:00       BROOKLYN        67
21624      92673375  09/17/2013    8:08:00      MANHATTAN        24
21625      28460611  04/15/2007    1:05:00      MANHATTAN        33

       JURISDICTION_CODE              LOCATION_DESC  STATISTICAL_MURDER_FLAG  \
0                    0.0                        NaN                    False
1                    0.0                        NaN                    False
2                    0.0                        NaN                    False
3                    0.0                  PVT HOUSE                     True
4                    0.0                        NaN                    False
...                  ...                        ...                      ...
21621                0.0    MULTI DWELL - APT BUILD                     True
21622                0.0                        NaN                    False
21623                0.0                        NaN                    False
21624                0.0  MULTI DWELL - PUBLIC HOUS                     True
21625                0.0                        NaN                    False

      PERP_AGE_GROUP PERP_SEX       PERP_RACE VIC_AGE_GROUP VIC_SEX  \
0                NaN      NaN             NaN         25-44       M
1                <18        M           BLACK         25-44       F
2              18-24        M  WHITE HISPANIC         18-24       M
3              25-44        M           BLACK         25-44       F
4              25-44        M  BLACK HISPANIC         18-24       M
...              ...      ...             ...           ...     ...
21621            NaN      NaN             NaN         25-44       M
21622            NaN      NaN             NaN         45-64       M
21623          25-44        M           BLACK         25-44       M
21624            NaN      NaN             NaN         45-64       M
21625            <18        M  WHITE HISPANIC           <18       M

             VIC_RACE  X_COORD_CD  Y_COORD_CD   Latitude  Longitude  \
0               BLACK     1037451      193561  40.697805 -73.808141
1               BLACK     1006789      237559  40.818700 -73.918571
2      BLACK HISPANIC      999347      227795  40.791916 -73.945480
3               BLACK      938149      171781  40.638064 -74.166108
4               BLACK     1008224      250621  40.854547 -73.913339
...               ...         ...         ...        ...        ...
21621           BLACK      999934      233568  40.807760 -73.943346
21622           BLACK     1006669      233631  40.807919 -73.919017
21623           BLACK      998387      174639  40.646017 -73.949058
21624  WHITE HISPANIC      993290      230079  40.798193 -73.967351
21625  BLACK HISPANIC     1002051      245311  40.839988 -73.935668

                                             Lon_Lat  ZipCode
0      POINT (-73.80814071699996 40.697805308000056)    11435
1       POINT (-73.91857061799993 40.81869973000005)    10451
2      POINT (-73.94547965999999 40.791916091000076)    10029
3       POINT (-74.16610830199996 40.63806398200006)    10303
4       POINT (-73.91333944399999 40.85454734900003)    10453
...                                              ...      ...
21621        POINT (-73.943346267 40.80776037800007)    10027
21622               POINT (-73.91901728 40.80791877)    10454
21623  POINT (-73.94905826799999 40.646017278000045)    11235
21624  POINT (-73.96735102799995 40.798193324000074)    10025
21625  POINT (-73.93566789499994 40.839987567000044)    10032

[21626 rows x 20 columns]>

In [193]:
shootings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21626 entries, 0 to 21625
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCIDENT_KEY             21626 non-null  int64
 1   OCCUR_DATE               21626 non-null  object
 2   OCCUR_TIME               21626 non-null  object
 3   BORO                     21626 non-null  object
 4   PRECINCT                 21626 non-null  int64
 5   JURISDICTION_CODE        21624 non-null  float64
 6   LOCATION_DESC            9265 non-null   object
 7   STATISTICAL_MURDER_FLAG  21626 non-null  bool
 8   PERP_AGE_GROUP           14321 non-null  object
 9   PERP_SEX                 14355 non-null  object
 10  PERP_RACE                14355 non-null  object
 11  VIC_AGE_GROUP            21626 non-null  object
 12  VIC_SEX                  21626 non-null  object
 13  VIC_RACE                 21626 non-null  object
 14  X_COORD_CD               21626 non-null  int64
 15  Y_COORD_CD               21626 non-null  int64
 16  Latitude                 21626 non-null  float64
 17  Longitude                21626 non-null  float64
 18  Lon_Lat                  21626 non-null  object
 19  ZipCode                  21626 non-null  int64
dtypes: bool(1), float64(3), int64(5), object(11)
memory usage: 3.2+ MB

In [194]:
shootings.columns

Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'PRECINCT',
       'JURISDICTION_CODE', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG',
       'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'VIC_AGE_GROUP', 'VIC_SEX',
       'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lon_Lat', 'ZipCode'],
      dtype='object')

In [195]:
## Checking if the incident key is unique or not
shootings['INCIDENT_KEY'].is_unique

False

In [196]:
## Removing all the duplicate entries

shootings = shootings.drop_duplicates(subset=['INCIDENT_KEY'])

In [197]:
## Checking if the incident key is unique or not
shootings['INCIDENT_KEY'].is_unique

True

In [198]:
shootings.shape

(17031, 20)

In [199]:
# checking for null values in the features
shootings.isna().sum()

INCIDENT_KEY                  0
OCCUR_DATE                    0
OCCUR_TIME                    0
BORO                          0
PRECINCT                      0
JURISDICTION_CODE             2
LOCATION_DESC              9907
STATISTICAL_MURDER_FLAG       0
PERP_AGE_GROUP             6369
PERP_SEX                   6339
PERP_RACE                  6339
VIC_AGE_GROUP                 0
VIC_SEX                       0
VIC_RACE                      0
X_COORD_CD                    0
Y_COORD_CD                    0
Latitude                      0
Longitude                     0
Lon_Lat                       0
ZipCode                       0
dtype: int64

In [200]:
# Calculating the null values present in the data columnwise (with respect to the features)

100 * shootings.isnull().sum()/len(shootings)

INCIDENT_KEY                0.000000
OCCUR_DATE                  0.000000
OCCUR_TIME                  0.000000
BORO                        0.000000
PRECINCT                    0.000000
JURISDICTION_CODE           0.011743
LOCATION_DESC              58.170395
STATISTICAL_MURDER_FLAG     0.000000
PERP_AGE_GROUP             37.396512
PERP_SEX                   37.220363
PERP_RACE                  37.220363
VIC_AGE_GROUP               0.000000
VIC_SEX                     0.000000
VIC_RACE                    0.000000
X_COORD_CD                  0.000000
Y_COORD_CD                  0.000000
Latitude                    0.000000
Longitude                   0.000000
Lon_Lat                     0.000000
ZipCode                     0.000000
dtype: float64

In [201]:
# Passing 'PERP_RACE' dataframe to look for null values.
# Function returns 'PERP_RACE' without null values.

col = 'PERP_RACE'
shootings[col].value_counts()
s = shootings[col].value_counts(normalize=True)

print(s)

missing = shootings[col].isnull()

shootings.loc[missing,col] = np.random.choice(s.index, size=len(shootings[missing]),p=s.values)

shootings[col].value_counts()

BLACK                             0.647119
UNKNOWN                           0.151235
WHITE HISPANIC                    0.113449
BLACK HISPANIC                    0.064721
WHITE                             0.017583
ASIAN / PACIFIC ISLANDER          0.005705
AMERICAN INDIAN/ALASKAN NATIVE    0.000187
Name: PERP_RACE, dtype: float64

c:\users\rusha\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

BLACK                             11055
UNKNOWN                            2573
WHITE HISPANIC                     1939
BLACK HISPANIC                     1081
WHITE                               285
ASIAN / PACIFIC ISLANDER             95
AMERICAN INDIAN/ALASKAN NATIVE        3
Name: PERP_RACE, dtype: int64

In [202]:
# cleaning perp age group

# returns perp age group with 0 null values

col = 'PERP_AGE_GROUP'
shootings[col].value_counts()
s = shootings[col].value_counts(normalize=True)

print(s)

missing = shootings[col].isnull()

shootings.loc[missing,col] = np.random.choice(s.index, size=len(shootings[missing]),p = s.values)


shootings[col].value_counts()

18-24      0.342619
25-44      0.286250
UNKNOWN    0.256706
<18        0.083474
45-64      0.027293
65+        0.003376
1020       0.000094
940        0.000094
224        0.000094
Name: PERP_AGE_GROUP, dtype: float64

18-24      5813
25-44      4861
UNKNOWN    4396
<18        1405
45-64       486
65+          67
1020          1
940           1
224           1
Name: PERP_AGE_GROUP, dtype: int64

In [203]:
# cleaning perp age  - contains outliers


# perp age outlier value

# returns perp age without outliers


shootings.drop(shootings.loc[shootings['PERP_AGE_GROUP']=='224'].index, inplace=True)
shootings['PERP_AGE_GROUP'].value_counts()

c:\users\rusha\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

18-24      5813
25-44      4861
UNKNOWN    4396
<18        1405
45-64       486
65+          67
1020          1
940           1
Name: PERP_AGE_GROUP, dtype: int64

In [204]:
# perp age outlier value

# 940 value

shootings.drop(shootings.loc[shootings['PERP_AGE_GROUP']=='940'].index, inplace=True)
shootings['PERP_AGE_GROUP'].value_counts()

18-24      5813
25-44      4861
UNKNOWN    4396
<18        1405
45-64       486
65+          67
1020          1
Name: PERP_AGE_GROUP, dtype: int64

In [205]:
# 1000+ value


shootings.drop(shootings.loc[shootings['PERP_AGE_GROUP']=='1020'].index, inplace=True)
shootings['PERP_AGE_GROUP'].value_counts()

18-24      5813
25-44      4861
UNKNOWN    4396
<18        1405
45-64       486
65+          67
Name: PERP_AGE_GROUP, dtype: int64

In [206]:
# checking values in perp sex

shootings['PERP_SEX'].value_counts()

M    9178
U    1350
F     161
Name: PERP_SEX, dtype: int64

In [207]:
# cleaning perp_sex

# returns perp_sex without null values

col = 'PERP_SEX'
shootings[col].value_counts()
s = shootings[col].value_counts(normalize=True)

print(s)

missing = shootings[col].isnull()
shootings.loc[missing,col] = np.random.choice(s.index, size=len(shootings[missing]), p = s.values)

shootings[col].value_counts()

M    0.858640
U    0.126298
F    0.015062
Name: PERP_SEX, dtype: float64

M    14664
U     2109
F      255
Name: PERP_SEX, dtype: int64

In [208]:
# cleaning desc


shootings['LOCATION_DESC'].value_counts()

MULTI DWELL - PUBLIC HOUS    3090
MULTI DWELL - APT BUILD      1810
PVT HOUSE                     560
GROCERY/BODEGA                403
BAR/NIGHT CLUB                380
COMMERCIAL BLDG               155
RESTAURANT/DINER              144
NONE                          140
FAST FOOD                      76
BEAUTY/NAIL SALON              73
GAS STATION                    44
SOCIAL CLUB/POLICY LOCATI      40
STORE UNCLASSIFIED             26
DRY CLEANER/LAUNDRY            23
LIQUOR STORE                   22
HOSPITAL                       20
SMALL MERCHANT                 16
HOTEL/MOTEL                    14
SUPERMARKET                    14
VARIETY STORE                  10
CLOTHING BOUTIQUE              10
JEWELRY STORE                   9
DRUG STORE                      7
CANDY STORE                     5
FACTORY/WAREHOUSE               4
CHAIN STORE                     4
SHOE STORE                      4
DEPT STORE                      3
GYM/FITNESS FACILITY            3
TELECOMM. STORE                 2
VIDEO STORE                     2
LOAN COMPANY                    1
STORAGE FACILITY                1
BANK                            1
ATM                             1
PHOTO/COPY STORE                1
SCHOOL                          1
DOCTOR/DENTIST                  1
CHECK CASH                      1
Name: LOCATION_DESC, dtype: int64

In [209]:
## routine


col = 'LOCATION_DESC'
shootings[col].value_counts()
s = shootings[col].value_counts(normalize=True)

print(s)

missing = shootings[col].isnull()

shootings.loc[missing,col] = np.random.choice(s.index, size=len(shootings[missing]),p=s.values)

shootings[col].value_counts()

MULTI DWELL - PUBLIC HOUS    0.433928
MULTI DWELL - APT BUILD      0.254178
PVT HOUSE                    0.078641
GROCERY/BODEGA               0.056593
BAR/NIGHT CLUB               0.053363
COMMERCIAL BLDG              0.021767
RESTAURANT/DINER             0.020222
NONE                         0.019660
FAST FOOD                    0.010673
BEAUTY/NAIL SALON            0.010251
GAS STATION                  0.006179
SOCIAL CLUB/POLICY LOCATI    0.005617
STORE UNCLASSIFIED           0.003651
DRY CLEANER/LAUNDRY          0.003230
LIQUOR STORE                 0.003089
HOSPITAL                     0.002809
SMALL MERCHANT               0.002247
HOTEL/MOTEL                  0.001966
SUPERMARKET                  0.001966
VARIETY STORE                0.001404
CLOTHING BOUTIQUE            0.001404
JEWELRY STORE                0.001264
DRUG STORE                   0.000983
CANDY STORE                  0.000702
FACTORY/WAREHOUSE            0.000562
CHAIN STORE                  0.000562
SHOE STORE                   0.000562
DEPT STORE                   0.000421
GYM/FITNESS FACILITY         0.000421
TELECOMM. STORE              0.000281
VIDEO STORE                  0.000281
LOAN COMPANY                 0.000140
STORAGE FACILITY             0.000140
BANK                         0.000140
ATM                          0.000140
PHOTO/COPY STORE             0.000140
SCHOOL                       0.000140
DOCTOR/DENTIST               0.000140
CHECK CASH                   0.000140
Name: LOCATION_DESC, dtype: float64

MULTI DWELL - PUBLIC HOUS    7354
MULTI DWELL - APT BUILD      4346
PVT HOUSE                    1324
GROCERY/BODEGA               1029
BAR/NIGHT CLUB                911
COMMERCIAL BLDG               374
RESTAURANT/DINER              355
NONE                          298
BEAUTY/NAIL SALON             173
FAST FOOD                     170
GAS STATION                   110
SOCIAL CLUB/POLICY LOCATI     101
STORE UNCLASSIFIED             65
DRY CLEANER/LAUNDRY            54
LIQUOR STORE                   48
HOSPITAL                       48
SMALL MERCHANT                 39
SUPERMARKET                    35
VARIETY STORE                  27
CLOTHING BOUTIQUE              26
JEWELRY STORE                  26
HOTEL/MOTEL                    22
DRUG STORE                     17
FACTORY/WAREHOUSE              14
CHAIN STORE                     9
SHOE STORE                      9
CANDY STORE                     8
DEPT STORE                      8
GYM/FITNESS FACILITY            7
TELECOMM. STORE                 5
VIDEO STORE                     3
LOAN COMPANY                    2
BANK                            2
ATM                             2
PHOTO/COPY STORE                2
SCHOOL                          2
STORAGE FACILITY                1
DOCTOR/DENTIST                  1
CHECK CASH                      1
Name: LOCATION_DESC, dtype: int64

In [210]:
# checking jurisdiction

shootings['JURISDICTION_CODE'].value_counts()

0.0    14152
2.0     2837
1.0       37
Name: JURISDICTION_CODE, dtype: int64

In [211]:
# cleaning jurisdiction

col = 'JURISDICTION_CODE'
shootings[col].value_counts()
s = shootings[col].value_counts(normalize=True)

print(s)

missing = shootings[col].isnull()
shootings.loc[missing,col] = np.random.choice(s.index, size=len(shootings[missing]),p=s.values)

shootings[col].value_counts()

0.0    0.831199
2.0    0.166628
1.0    0.002173
Name: JURISDICTION_CODE, dtype: float64

0.0    14154
2.0     2837
1.0       37
Name: JURISDICTION_CODE, dtype: int64

In [212]:
shootings.isna().sum()

INCIDENT_KEY               0
OCCUR_DATE                 0
OCCUR_TIME                 0
BORO                       0
PRECINCT                   0
JURISDICTION_CODE          0
LOCATION_DESC              0
STATISTICAL_MURDER_FLAG    0
PERP_AGE_GROUP             0
PERP_SEX                   0
PERP_RACE                  0
VIC_AGE_GROUP              0
VIC_SEX                    0
VIC_RACE                   0
X_COORD_CD                 0
Y_COORD_CD                 0
Latitude                   0
Longitude                  0
Lon_Lat                    0
ZipCode                    0
dtype: int64

In [213]:
shootings.shape

(17028, 20)

In [214]:
shootings.to_csv("historic_incident_with_zipcode_Cleaned.csv")